<center><h2>Лабораторна робота 4<h2></center>
Виконав: ФБ-21 Новіцький Олександр

In [2]:
import pandas as pd
import numpy as np
import timeit as tt
import datetime as dt

In [3]:
pandas_time = []
numpy_time = []

In [4]:
starttime = tt.default_timer()
df = pd.read_csv('household_power_consumption.txt', sep=';')
print(tt.default_timer()-starttime)
df.head()

2.6235135360000186

/tmp/ipykernel_13264/1259816714.py:2: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('household_power_consumption.txt', sep=';')

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

Data cleaning

In [5]:
starttime = tt.default_timer()

df.drop(df[df.eq('?').any(axis=1)].index, inplace=True)

columns = ['Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']
df[columns] = df[columns].astype(float)
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time

print(tt.default_timer()-starttime)

8.633016537999993

1. Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт

In [6]:
starttime = tt.default_timer()
households_over_5kw = df[df['Global_active_power'] > 5]
pandas_time.append(tt.default_timer()-starttime)
print(tt.default_timer()-starttime)

households_over_5kw.head()

0.011560693999854266

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0

2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В

In [7]:
starttime = tt.default_timer()
voltage_over_235v = df[df['Voltage'] > 235]
pandas_time.append(tt.default_timer()-starttime)
print(tt.default_timer()-starttime)

voltage_over_235v.head()

0.19076026199991247

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,2006-12-16,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0

3. Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильни споживають більше, ніж бойлер та кон.

In [8]:
starttime = tt.default_timer()
task3df = df[(df['Global_intensity'] >= 19) & (df['Global_intensity'] <= 20)]
task3df = task3df[task3df['Sub_metering_2'] > task3df['Sub_metering_3']]
pandas_time.append(tt.default_timer()-starttime)
print(tt.default_timer()-starttime)

task3df.head()

0.01803146099996411

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0

4. Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергіїї

In [9]:
starttime = tt.default_timer()

random_entries = df.sample(n=500000, replace=True)

sub_1 = random_entries['Sub_metering_1'].mean()
sub_2 = random_entries['Sub_metering_2'].mean()
sub_3 = random_entries['Sub_metering_3'].mean()

pandas_time.append(tt.default_timer()-starttime)
print(tt.default_timer()-starttime)

print("sub_metering_1:", sub_1)
print("sub_metering_2:", sub_2)
print("sub_metering_3:", sub_3)

0.3633687799999734
sub_metering_1: 1.128708
sub_metering_2: 1.297016
sub_metering_3: 6.461868

5. Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другоої полвини.

In [10]:
starttime = tt.default_timer()

filtered_df = df[(df['Time'] > pd.to_datetime('18:00:00').time()) & (df['Global_active_power'] > 6)]

filtered_df = filtered_df[(filtered_df['Sub_metering_2'] > filtered_df['Sub_metering_1']) & (filtered_df['Sub_metering_2'] > filtered_df['Sub_metering_3'])]

first_half = filtered_df.iloc[:len(filtered_df) // 2].iloc[2::3]
second_half = filtered_df.iloc[len(filtered_df) // 2:].iloc[3::4]

res = pd.concat([first_half, second_half])

pandas_time.append(tt.default_timer()-starttime)
print(tt.default_timer()-starttime)

res.head()

0.12815015999990464

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
43,2006-12-16,18:07:00,6.474,0.144,231.85,27.8,0.0,37.0,16.0
3007,2006-12-18,19:31:00,6.158,0.442,229.08,27.0,0.0,36.0,0.0
17497,2006-12-28,21:01:00,7.062,0.270,235.76,30.2,2.0,65.0,17.0
17500,2006-12-28,21:04:00,7.376,0.238,234.67,31.4,1.0,72.0,17.0
17503,2006-12-28,21:07:00,7.248,0.000,235.34,30.8,1.0,72.0,17.0

numpy array

In [11]:
starttime = tt.default_timer()

datanp = np.loadtxt("household_power_consumption.txt",delimiter=";", dtype=str,skiprows=1)

print(datanp)
print(tt.default_timer()-starttime)

[['16/12/2006' '17:24:00' '4.216' ... '0.000' '1.000' '17.000']
 ['16/12/2006' '17:25:00' '5.360' ... '0.000' '1.000' '16.000']
 ['16/12/2006' '17:26:00' '5.374' ... '0.000' '2.000' '17.000']
 ...
 ['26/11/2010' '21:00:00' '0.938' ... '0.000' '0.000' '0.000']
 ['26/11/2010' '21:01:00' '0.934' ... '0.000' '0.000' '0.000']
 ['26/11/2010' '21:02:00' '0.932' ... '0.000' '0.000' '0.000']]
7.24104106499999

In [12]:
datanp = np.delete(datanp,np.unique(np.where(datanp == '?')[0]),axis=0)


for i in range(datanp.shape[0]):
    right_f = dt.datetime.strptime(datanp[i,0],'%d/%m/%Y')
    datanp[i,0] = np.datetime64(right_f)

for i in range(datanp.shape[0]):
    datanp[i,1] = datanp[i,1].split(":")[0]

1. Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт

In [13]:
starttime = tt.default_timer()

households_over_5kw = datanp[datanp[:,2].astype(float)>5]

numpy_time.append(tt.default_timer()-starttime)
print(tt.default_timer()-starttime)

print(households_over_5kw)

0.867003448000105
[['2006-12-16' '17' '5.360' ... '0.000' '1.000' '16.000']
 ['2006-12-16' '17' '5.374' ... '0.000' '2.000' '17.000']
 ['2006-12-16' '17' '5.388' ... '0.000' '1.000' '17.000']
 ...
 ['2010-11-24' '07' '5.172' ... '0.000' '38.000' '17.000']
 ['2010-11-24' '07' '5.750' ... '0.000' '39.000' '17.000']
 ['2010-11-25' '07' '5.074' ... '1.000' '2.000' '18.000']]

2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В

In [14]:
starttime = tt.default_timer()

voltage_over_235v = datanp[datanp[:,4].astype('float')>235]

numpy_time.append(tt.default_timer()-starttime)
print(tt.default_timer()-starttime)

print(voltage_over_235v)

1.4492773599999964
[['2006-12-16' '17' '3.666' ... '0.000' '1.000' '17.000']
 ['2006-12-16' '17' '3.520' ... '0.000' '2.000' '17.000']
 ['2006-12-16' '17' '3.702' ... '0.000' '1.000' '17.000']
 ...
 ['2010-11-26' '21' '0.938' ... '0.000' '0.000' '0.000']
 ['2010-11-26' '21' '0.934' ... '0.000' '0.000' '0.000']
 ['2010-11-26' '21' '0.932' ... '0.000' '0.000' '0.000']]

3. Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильни споживають більше, ніж бойлер та кон.

In [15]:
starttime = tt.default_timer()

task3df = datanp[(datanp[:,5].astype('float')>19) & (datanp[:,5].astype('float')<20)]
task3df = datanp[datanp[:,7].astype('float64')>datanp[:,8].astype('float64')]

numpy_time.append(tt.default_timer()-starttime)
print(tt.default_timer()-starttime)

print(task3df)

3.5388080980001178
[['2006-12-16' '18' '4.928' ... '0.000' '37.000' '16.000']
 ['2006-12-16' '18' '6.052' ... '0.000' '37.000' '17.000']
 ['2006-12-16' '18' '6.752' ... '0.000' '36.000' '17.000']
 ...
 ['2010-11-26' '20' '0.948' ... '0.000' '1.000' '0.000']
 ['2010-11-26' '20' '1.198' ... '0.000' '1.000' '0.000']
 ['2010-11-26' '20' '1.024' ... '0.000' '1.000' '0.000']]

4. Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергіїї

In [16]:
starttime = tt.default_timer()

indexes = np.random.choice(len(datanp), size=500000, replace=True, p=None)
random = datanp[indexes,:]

th_group = np.array([random[:,-1].astype('float'),random[:,-2].astype('float'),random[:,-3].astype('float')])
av = np.average(th_group, 0)

numpy_time.append(tt.default_timer()-starttime)
print(tt.default_timer()-starttime)

print(av)

1.1383477079998556
[0.         5.66666667 6.         ... 6.33333333 0.         0.        ]

5. Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другоої полвини.

In [17]:
starttime = tt.default_timer()

h18 = datanp[(datanp[:,1].astype('timedelta64')>=np.timedelta64(18,'h')) & (datanp[:,2].astype('float64')>6)]
h182 = h18[(h18[:,-2].astype('float')>h18[:,-3].astype('float')) & (h18[:,-2].astype('float')>h18[:,-1].astype('float'))]

n = round(len(h182)/2)
res1 = (h182[:n,:])[::3,:]
res2 = (h182[n:,:])[::4,:]

numpy_time.append(tt.default_timer()-starttime)
print(tt.default_timer()-starttime)

print(res1)
print(res2)

1.6465054919999602
[['2006-12-16' '18' '6.052' ... '0.000' '37.000' '17.000']
 ['2006-12-16' '18' '6.308' ... '0.000' '36.000' '17.000']
 ['2006-12-28' '20' '6.386' ... '1.000' '36.000' '17.000']
 ...
 ['2008-03-23' '20' '6.668' ... '0.000' '73.000' '17.000']
 ['2008-04-12' '18' '6.568' ... '34.000' '36.000' '18.000']
 ['2008-04-20' '21' '8.084' ... '1.000' '71.000' '18.000']]
[['2008-04-20' '21' '7.798' ... '1.000' '71.000' '17.000']
 ['2008-04-20' '21' '7.452' ... '1.000' '68.000' '17.000']
 ['2008-04-20' '21' '6.436' ... '1.000' '37.000' '17.000']
 ...
 ['2010-11-20' '18' '6.302' ... '15.000' '34.000' '17.000']
 ['2010-11-20' '18' '6.238' ... '14.000' '35.000' '16.000']
 ['2010-11-20' '18' '6.438' ... '13.000' '39.000' '16.000']]

In [18]:
print(pandas_time)
print(numpy_time)

[0.011515741999801321, 0.190710147000118, 0.017990640999869356, 0.36332428799983063, 0.12806158599983064]
[0.866839556000059, 1.4492383199999495, 3.5387645860000703, 1.1383051469999828, 1.6464794089999941]

Отже, використання Pandas DataFrame зазвичай призводить до швидшого виконання операцій порівняно з NumPy array.